.search input[type="text"],
.search button {
  height: 35px;
}

.page-queries-list .page-header-actions {
  width: 55%; /* same as sidebar */
  max-width: 450px; /* same as sidebar */
}
.page-queries-list .container{
  padding: 0 120px;
}
/* ================================ alert List==========================  */
.page-alerts-list .container{
  padding: 0 170px;

}
/* ----------------------------------------------------------------------------- */
.layout-content{
  padding: 10px;
}

/* same rule as for sidebar */
@media (max-width: 790px) {
  .page-queries-list .page-header-actions {
    width: auto;
  }
  .page-queries-list .container{
     padding: 0 0px; 
  }
  .page-alerts-list .container{
    padding: 0 0px;
  
  }
  
  .layout-content{
    padding: 0px;
  }
}
