.tank0 {
  fill: url(#SVGID_1_);
  stroke: #cacaca;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
  transform-origin: 50% 83%;
}
.tank1 {
  fill: #ffffff;
  stroke: #111111;
  stroke-miterlimit: 10;
}
.tank2 {
  fill: none;
  stroke: #cacaca;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.tank3 {
  fill: #ffffff;
}
.tank4 {
  fill: #3399ff;
  stroke: none;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}
.tank5 {
  font-family: "MyriadPro-Regular";
}
.tank6 {
  font-size: 114px;
}
.tank7 {
  font-size: 36px;
}
.tank9{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;}
