body {
  overflow: hidden;
}
.page-header-wrapper {
  margin: 15px 0 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: stretch;

  h3 {
    margin: 0;
    line-height: 1.3;
    font-weight: 500;
    flex: 1 1 auto;
  }

  .page-header-actions {
    flex: 0 0 auto;
    padding: 0 0 0 15px;
  }
}
.desktop-navbar-profile-menu-title {
  display: grid;
  padding: 14px;
}
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #f08f3a;
  background: #fff;
  border-bottom: 2px solid #f08f3a !important;
}
.ant-menu-horizontal {
  line-height: 30px !important;
}
.page-dashboard-list .page-header-actions {
  width: 55% !important;
  max-width: 390px !important;
}
.dashboard-header{
  background: #e6e9ef !important;
}
.ant-select-selection-search-input{
  background-color: #fff !important;
}
.ant-select-selector{
  // border: 1px solid #404664 !important;
  box-shadow: rgba(67, 67, 107, 0.1) 0px 2px 12px;
}
.flex-fill .ant-row{
padding: 15px;
}
.ant-btn.btn-create-alert.ant-btn-primary{
  color: #fff !important;
}