.parking_text {
  font-size: 202px;
}

.parking0 {
  fill: #333333;
}
.parking1 {
  fill: #4d4d4d;
}
.parking2 {
  fill: #c3c7cb;
}
.parking3 {
  fill: #f6f9f9;
}
.parking4 {
  fill: #6bbef6;
}
.parking5 {
  fill: #5ea5ec;
}
.parking6 {
  fill: #e7ecf6;
}
.parking7 {
  fill: #ffffff;
}

.park_outline {
  fill: #cacaca;
}

.parkRoadBorder {
  fill: #cacaca;
}
.parkRoad,
.parking_text {
  fill: #4d4d4d82;
}

.query-fixed-layout {
  .visualization-renderer > .visualization-renderer-wrapper .column .counter-visualization-container {
    position: static;
    height: 100%;
    .counter-visualization-content {
      position: static !important;
      height: 100%;
    }
  }
}
