<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <base href="{{base_href}}" />
    <title>The ThingsMate</title>
    <script src="/static/unsupportedRedirect.js" async></script>

    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png" />
  </head>

  <body>
    <section>
      <div id="application-root"></div>
      <div class="loading-indicator">
        <div id="css-logo">
          <div id="circle">
            <div></div>
          </div>
          <div id="point">
            <div></div>
          </div>
          <div id="bars">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div id="shadow"></div>
      </div>
    </section>
  </body>
</html>
