.wind0 {
  fill: #ffffff;
}
.wind1 {
  fill: #cacaca;
  stroke: #cacaca;
  stroke-width: 4;
  stroke-miterlimit: 10;
  transform-origin: 30% 50%;
}
.wind2 {
  transform-origin: 30% 50%;
  fill: none;
  stroke: #cacaca;
  stroke-width: 4;
}
.wind3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: none;
  stroke: #cacaca;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.wind3 {
  transform-origin: 30% 50%;
}
.wind4 {
  font-size: 17px;
  fill: #000;
}
.wind5 {
  fill: #000;
}
.wind6 {
  fill: #00000063;
}
.wind7 {
  fill: none;
}
.wind8 {
  font-size: 11px;
}
.smallCircle {
  transform-origin: 30% 50%;
}
