/* Layout: */
.ant-modal-body{
  .visualization-renderer{
    .visualization-renderer-wrapper{
      .bulb-viz-container{
        .counter-layout{
          align-items: center;
        }
      }
    }
  }
}
.col-main {
  flex: 1;
  padding-bottom: 1px;
  align-self: center;
}

.col-complementary {
  flex: 1;
  width: 50%;
  
}

.counter-layout {
  display: flex;
  height: inherit;
}

.bulb-viz-container {
  height: 100%;
}

.text-visualization-container {
  display: block;
  text-align: center;
  padding: 15px 10px;
  overflow: hidden;
  position: relative;

  .text-visualization-content {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: normal;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-visualization-value,
    .text-visualization-target {
      font-size: 0.75em !important;
      display: block;
    }

    .text-visualization-label {
      font-size: 0.5em;
      display: block;
    }

    .text-visualization-target {
      color: #ccc;
    }

    .text-visualization-label {
      font-size: 0.5em;
      display: block;
    }
  }

  &.trend-positive .text-visualization-value {
    color: #5cb85c;
  }

  &.trend-negative .text-visualization-value {
    color: #d9534f;
  }
}
.bulb0{fill:#FFD15C;}
.bulb1{fill:#FFFFFF;}
.bulb2{fill:#344A5E;}
.bulb3{fill:#415A6B;}