.input-title {
  display: inline-block;
  width: auto;
  margin-right: 8px;
  margin-bottom: 17px; // assure no collision when not enough room for horizontal layout
  position: relative;
  vertical-align: middle;

  & > span {
    position: absolute;
    top: -16px;
    left: 0;
    line-height: normal;
    font-size: 10px;

    & + * {
      vertical-align: top;
    }
  }
}