
.icons{
  padding: 10px;
  display: block !important ;

}
.profile{
  cursor: pointer;

}
.profile:focus-within{
  background: red;

}
@font-face {
  font-family: 'Penguin';
  src: url("../../../assets/fonts/penguin.ttf");
}
.a1{
  position: relative;
padding: 2rem;
color: #fff;
display: -webkit-inline-box;
display: -moz-inline-box;
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-box;
display: inline-flex;
-webkit-box-align: center;
-moz-box-align: center;
-o-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
color: #404664;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-o-box-orient: vertical;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
font-weight: 800;
}



.headerContainer {
  overflow: hidden;
background-color: #bdc3ce;
z-index: 2000;
width: 100%;
  // background: #bdc3ce;
  // display: flex;
  // flex-direction: row;
  // height: 8.5rem;
}
.orgborder.a1.all.active {
  color: #404664;
  background: #fff;
}
// .active , .orgborder::before
// {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   height: 3px;
  
  
//   width: 100%;
//   background: #f58f29;
//   content: '';
  

// }
body {
background: #ECEBE4 !important;
}
  .active::before{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  color: #404664;
  background: #404664;
  content: '';
  }
.orgborder:hover::before{
position: absolute;
bottom: 0;
left: 0;
height: 3px;
width: 100%;
background: #404664;
content: '';
}.orgborder.a1.all.active {
  color: #404664;
}


.headerBar {
  border-bottom: 1px solid #efefef;
background: #04A777;
height: 8.3rem;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: relative;
display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: box;
display: flex;
padding: 0 2rem;
-webkit-box-pack: justify;
-moz-box-pack: justify;
-o-box-pack: justify;
-ms-flex-pack: justify;
-webkit-justify-content: space-between;
justify-content: space-between;
-webkit-box-flex: 0;
-moz-box-flex: 0;
-o-box-flex: 0;
box-flex: 0;
-webkit-flex: none;
-ms-flex: none;
flex: none;
}
.listContainer{
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 50rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  
}
.header-right{
  padding-left: 1.5rem;
display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: box;
display: flex;
-webkit-box-align: center;
-moz-box-align: center;
-o-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
-webkit-box-pack: end;
-moz-box-pack: end;
-o-box-pack: end;
-ms-flex-pack: end;
-webkit-justify-content: flex-end;
justify-content: flex-end;
max-width: 100rem;
-webkit-box-flex: 2;
-moz-box-flex: 2;
-o-box-flex: 2;
-ms-box-flex: 2;
box-flex: 2;
-webkit-flex-grow: 2;
flex-grow: 2; 
}
.data{
  background: red;
}.orgborder.a1.all:hover {
  background: #C3FDEC17;
}

.orgborder {
color: #fff;

  position: relative;
padding-left: 10%;
display: -webkit-inline-box;
display: -moz-inline-box;
display: -webkit-inline-flex;
display: -ms-inline-flexbox;
display: inline-box;
display: inline-flex;
-webkit-box-align: center;
-moz-box-align: center;
-o-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-o-box-orient: vertical;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
font-weight: 800;
}
.navListContainer{
  display: -webkit-box;
display: -moz-box;
display: -webkit-flex;
display: -ms-flexbox;
display: box;
display: flex;
-webkit-box-align: stretch;
-moz-box-align: stretch;
-o-box-align: stretch;
-ms-flex-align: stretch;
-webkit-align-items: stretch;
align-items: stretch;
-webkit-box-pack: start;
-moz-box-pack: start;
-o-box-pack: start;

-ms-flex-pack: start;
-webkit-justify-content: flex-start;
justify-content: flex-start;
padding: 0 50%;
-webkit-box-flex: 2;
-moz-box-flex: 2;
-o-box-flex: 2;
-ms-box-flex: 2;
box-flex: 2;
-webkit-flex-grow: 2;
flex-grow: 2;
    max-width: 76rem;
}
.navListContainer li{
  padding: 38px;
}

