a:hover , a:focus {
  color:#404664 !important;
}
.ant-menu-item .anticon {
  display: block;
}

.ant-menu-submenu-title .anticon{
  display: block;
  font-size: 18px;

  font-weight: 900;

}
.ant-menu-submenu-title{
  color: #404664 !important;
  font-size: 13px;

  font-weight: 900; 

}

  

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}


@mobileBreakpoint: ~"(max-width: 767px)";

body #application-root {
  @topMenuHeight: 49px;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding-bottom: 0 !important;
  height: 100vh;
  

  .application-layout-side-menu {
  
    width: 100vw;
    position: relative;

    @media @mobileBreakpoint {
      display: none;
    }
  }

  .application-layout-top-menu {
    height: @topMenuHeight;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

    @media @mobileBreakpoint {
      display: block;
    }
  }

  .application-layout-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    flex: 1 1 auto;
    padding-bottom: 15px;

    @media @mobileBreakpoint {
      margin-top: @topMenuHeight; // compensate for app header fixed position
    }
  }
}

body.fixed-layout #application-root {
  .application-layout-content {
    padding-bottom: 0;
  }
}

body.headless #application-root {
  .application-layout-side-menu,
  .application-layout-top-menu {
    display: none !important;
  }

  .application-layout-content {
    margin-top: 0;
  }
}

// Fixes for proper snapshots in Percy (move vertical scroll to body level
// to capture entire page, otherwise it wll be cut by viewport)
@media only percy {
  body #application-root {
    height: auto;

    .application-layout-side-menu {
      height: auto;
    }

    .application-layout-content {
      overflow: visible;
    }
  }
}

///===================== dashboard list paddinng
#application-root .application-layout-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-bottom: 15px;
  padding-top: 0px;
  // padding: 10px 60px;
  width: 100%;
  margin: 10px;
}
.page-dashboard-list {
  padding:0px 10%;
  @media @mobileBreakpoint {
    padding: 0px; // compensate for app header fixed position
    margin: 0px;
  }

}

////========================= Table =======================>
.ant-table-thead{
  background: #404664;
  border: none !important;
}
.ant-table-thead > tr > th {
  color: #f4efef !important;
  font-weight: 900;
  text-align: left;
  font-size: 1.3rem;
}
.ant-table-tbody {
  line-height: 1.5;
}
.ant-table .anticon{
color: #fff !important;
}

.tiled{
  border-radius: 0px !important;
}


//===============
body {
  background: #e6e9ef !important;
}
.ant-input:focus{
  border: 1px solid #404664 !important;
  
}
.ant-input {
  // border: 1px solid #404664 !important;
  position: relative;
  height: 32px;
}
.table-main-title{
  color:#404664 !important;
}
///button

.ant-btn-primary{
  background: #404664 !important;
  border-radius: 10px;
  border: none !important;
}
.ant-btn-primary:hover {
  background: #e6e9ef  !important;
  color: #404664  !important;
  border: 1px solid #404664 !important;
}


//===============tab 
.query-visualization-tabs .ant-tabs-tab.ant-tabs-tab-active{
  border-top-color:#404664  !important;
}

.query-metadata.query-metadata-horizontal{
  padding: none !important;
  margin: none !important;
  padding-right: 10px !important;
}