.st0 {
  fill: #ffffff;
  stroke: #cacaca;
  stroke-width: 4.8235;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #00bd6d;
  transform: scaleY(1);
  transform-origin: 10% 60%;
}
.st2 {
  fill: none;
  stroke: #cacaca;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st3 {
  fill: none;
  stroke: none;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st4 {
  font-size: 70px;
  font-family: "MyriadPro-Regular";
  fill: #00bd6d;
}
