.dustbin0 {
  fill: #43b05c;
  transform-origin: 10% 73.5%;
}
.dustbin1 {
  fill: #cacaca;
  stroke: #cacaca;
  stroke-width: 0.75;
  stroke-miterlimit: 10;
}
.dustbin2 {
  fill: #191918;
}
.dustbin3 {
  fill: #ffffff;
  stroke: #cacaca;
  stroke-width: 7;
  stroke-miterlimit: 10;
}
.dustbin4 {
  fill: #ffffff;
  stroke: #cacaca;
  stroke-width: 7.5151;
  stroke-miterlimit: 10;
}
.dustbin5 {
  fill: none;
  stroke: #000000;
  stroke-width: 7;
  stroke-miterlimit: 10;
}
.dustbin6 {
  fill: #cacaca;
}
.dustbin7 {
  font-family: "MyriadPro-Regular";
}
.dustbin8 {
  font-size: 114px;
}
.dustbin9 {
  font-size: 36px;
}
.dustbin10 {
  fill: #ffffff;
}
