{% set hide_page_header = false %}

{% extends "layouts/signed_out.html" %}

{% block title %}The ThingsMate{% endblock %}

{% block content %}
<div className="desktop-navbar">
<div class="fixed-width-page">
  <div class="bg-white tiled error-state m-t-0">
    <div class="error-state__icon">
      <i class="zmdi zmdi-alert-circle-o"></i>
    </div>
    <div class="error-state__details">
      <h2>Account unapproved </h2>
      <h4>Your account still needs to be approved by an administrator. You will receive a confirmation email once your account is approved.</h4>
    </div>
  </div>
</div>
</div>div>
{% endblock %}
