@icomoon-font-family: "redash-icons";
@icomoon-font-path: "fonts";

@icon-flash-off: "\e900";
@icon-flash: "\e901";

font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 40;
    font-size: 10px;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  

  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px !important;
    line-height: 0.6 !important;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;  
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}